<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

       <%= link_to 'Home', root_path, class:'navbar-brand' %>
    </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
     </ul>
      
      <ul class="nav navbar-nav navbar-right">
      <!-- verifica se está logodo se a sessão foi iniciada -->
      <% if current_user %>
            <li><%= link_to 'Alunos', alunos_path %></li>
            <li><%= link_to 'Aeronaves', aeronaves_path %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
            
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>

        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

